<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="myUserLabel" jhiTranslate="userManagement.home.createOrEditLabel">Create or edit a user</h2>

      <br />

      <jhi-alert-error />

      <!-- Login Field -->
      @let loginRef = editForm.get('login')!;
      <mat-form-field appearance="outline" class="w-100 mb-2">
        <mat-label jhiTranslate="userManagement.login">Login</mat-label>
        <input matInput type="text" id="field_login" name="login" formControlName="login" />
        @if (loginRef.invalid && (loginRef.touched || loginRef.dirty) && loginRef.errors?.required) {
          <ng-container>
            <mat-error jhiTranslate="entity.validation.required">This field is required.</mat-error>
          </ng-container>
        }
        @if (loginRef.invalid && (loginRef.touched || loginRef.dirty) && loginRef.errors?.maxlength) {
          <ng-container>
            <mat-error jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '50' }"
              >This field cannot be longer than 50 characters.</mat-error
            >
          </ng-container>
        }
        @if (loginRef.invalid && (loginRef.touched || loginRef.dirty) && loginRef.errors?.pattern) {
          <ng-container>
            <mat-error jhiTranslate="entity.validation.patternLogin"
              >This field can only contain letters, digits and e-mail addresses.</mat-error
            >
          </ng-container>
        }
      </mat-form-field>

      <!-- First Name Field -->
      @let firstNameRef = editForm.get('firstName')!;
      <mat-form-field appearance="outline" class="w-100 mb-2">
        <mat-label jhiTranslate="userManagement.firstName">First name</mat-label>
        <input matInput type="text" id="field_firstName" name="firstName" formControlName="firstName" />
        @if (firstNameRef.invalid && (firstNameRef.touched || firstNameRef.dirty) && firstNameRef.errors?.maxlength) {
          <ng-container>
            <mat-error jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '50' }"
              >This field cannot be longer than 50 characters.</mat-error
            >
          </ng-container>
        }
      </mat-form-field>

      <!-- Last Name Field -->
      @let lastNameRef = editForm.get('lastName')!;
      <mat-form-field appearance="outline" class="w-100 mb-2">
        <mat-label jhiTranslate="userManagement.lastName">Last name</mat-label>
        <input matInput type="text" id="field_lastName" name="lastName" formControlName="lastName" />
        @if (lastNameRef.invalid && (lastNameRef.touched || lastNameRef.dirty) && lastNameRef.errors?.maxlength) {
          <ng-container>
            <mat-error jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '50' }"
              >This field cannot be longer than 50 characters.</mat-error
            >
          </ng-container>
        }
      </mat-form-field>

      <!-- Email Field -->
      @let emailRef = editForm.get('email')!;
      <mat-form-field appearance="outline" class="w-100 mb-2">
        <mat-label jhiTranslate="userManagement.email">Email</mat-label>
        <input matInput type="email" id="field_email" name="email" formControlName="email" />
        @if (emailRef.invalid && (emailRef.touched || emailRef.dirty) && emailRef.errors?.required) {
          <ng-container>
            <mat-error jhiTranslate="entity.validation.required">This field is required.</mat-error>
          </ng-container>
        }
        @if (emailRef.invalid && (emailRef.touched || emailRef.dirty) && emailRef.errors?.maxlength) {
          <ng-container>
            <mat-error jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '100' }"
              >This field cannot be longer than 100 characters.</mat-error
            >
          </ng-container>
        }
        @if (emailRef.invalid && (emailRef.touched || emailRef.dirty) && emailRef.errors?.minlength) {
          <ng-container>
            <mat-error jhiTranslate="entity.validation.minlength" [translateValues]="{ min: '5' }"
              >This field is required to be at least 5 characters.</mat-error
            >
          </ng-container>
        }
        @if (emailRef.invalid && (emailRef.touched || emailRef.dirty) && emailRef.errors?.email) {
          <ng-container>
            <mat-error jhiTranslate="global.messages.validate.email.invalid">Your email is invalid.</mat-error>
          </ng-container>
        }
      </mat-form-field>

      <!-- Activated Field -->
      <div class="mb-3">
        <mat-checkbox id="activated" name="activated" formControlName="activated" [disabled]="editForm.value.id === undefined">
          <span jhiTranslate="userManagement.activated">Activated</span>
        </mat-checkbox>
      </div>

      <!-- Language Field -->
      @if (languages && languages.length > 0) {
        <mat-form-field appearance="outline" class="w-100 mb-2">
          <mat-label jhiTranslate="userManagement.langKey">Language</mat-label>
          <mat-select id="langKey" name="langKey" formControlName="langKey">
            @for (language of languages; track $index) {
              <mat-option [value]="language">{{ language | findLanguageFromKey }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      }

      <!-- Profiles Field -->
      <mat-form-field appearance="outline" class="w-100 mb-2">
        <mat-label jhiTranslate="userManagement.profiles">Profiles</mat-label>
        <mat-select id="field_authority" name="authority" formControlName="authorities" multiple>
          @for (authority of authorities(); track $index) {
            <mat-option [value]="authority">{{ authority }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <!-- Action Buttons -->
      <div class="d-flex gap-2">
        <button type="button" mat-stroked-button (click)="previousState()">
          <mat-icon>block</mat-icon>
          <span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button type="submit" [disabled]="editForm.invalid || isSaving()" mat-flat-button color="primary">
          <mat-icon>save</mat-icon>
          <span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
