<div>
  <h2 id="page-heading" data-cy="ProjectMemberHeading">
    <span jhiTranslate="projectManagementApp.projectMember.home.title">Projects Members</span>

    <div class="d-flex justify-content-end">
      <button mat-stroked-button color="primary" class="me-2" (click)="load()" [disabled]="isLoading">
        <mat-icon [class.spin]="isLoading">refresh</mat-icon>
        <span jhiTranslate="projectManagementApp.projectMember.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        mat-flat-button
        color="primary"
        class="jh-create-entity create-project-member"
        [routerLink]="['/project-member/new']"
      >
        <mat-icon>add</mat-icon>
        <span jhiTranslate="projectManagementApp.projectMember.home.createLabel">Create a new Project Member</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (projectMembers().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="projectManagementApp.projectMember.home.notFound">No Project Members found</span>
    </div>
  } @else {
    <div class="mat-elevation-z1 project-member-table-container">
      <table
        mat-table
        [dataSource]="projectMembers()"
        jhiSort
        [(sortState)]="sortState"
        (sortChange)="navigateToWithComponentValues($event)"
        class="project-member-mat-table"
      >
        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef jhiSortBy="role">
            <span jhiTranslate="projectManagementApp.projectMember.role">Role</span>
            <mat-icon class="sort-icon">unfold_more</mat-icon>
          </th>
          <td mat-cell *matCellDef="let projectMember">
            <span class="role-chip" [class]="'role-' + (projectMember.role ?? 'null')">
              {{ roleLabel(projectMember.role) }}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="joinedDate">
          <th mat-header-cell *matHeaderCellDef jhiSortBy="joinedDate">
            <span jhiTranslate="projectManagementApp.projectMember.joinedDate">Joined Date</span>
            <mat-icon class="sort-icon">unfold_more</mat-icon>
          </th>
          <td mat-cell *matCellDef="let projectMember">{{ projectMember.joinedDate | formatMediumDate }}</td>
        </ng-container>

        <ng-container matColumnDef="active">
          <th mat-header-cell *matHeaderCellDef jhiSortBy="active">
            <span jhiTranslate="projectManagementApp.projectMember.active">Active</span>
            <mat-icon class="sort-icon">unfold_more</mat-icon>
          </th>
          <td mat-cell *matCellDef="let projectMember">
            <mat-icon class="active-icon" [class.active-true]="projectMember.active" [class.active-false]="!projectMember.active">
              {{ projectMember.active ? 'check_circle' : 'cancel' }}
            </mat-icon>
          </td>
        </ng-container>

        <ng-container matColumnDef="project">
          <th mat-header-cell *matHeaderCellDef jhiSortBy="project.id">
            <span jhiTranslate="projectManagementApp.projectMember.project">Project</span>
            <mat-icon class="sort-icon">unfold_more</mat-icon>
          </th>
          <td mat-cell *matCellDef="let projectMember">
            @if (projectMember.project) {
              <a [routerLink]="['/project', projectMember.project.id, 'view']">{{ projectMember.project.name }}</a>
            }
          </td>
        </ng-container>

        <ng-container matColumnDef="employee">
          <th mat-header-cell *matHeaderCellDef jhiSortBy="employee.id">
            <span jhiTranslate="projectManagementApp.projectMember.employee">Employee</span>
            <mat-icon class="sort-icon">unfold_more</mat-icon>
          </th>
          <td mat-cell *matCellDef="let projectMember">
            @if (projectMember.employee) {
              <a [routerLink]="['/employee', projectMember.employee.id, 'view']">
                {{ projectMember.employee.firstName }}&nbsp;{{ projectMember.employee.lastName }}
              </a>
            }
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let projectMember" class="text-end actions-cell">
            <a
              mat-icon-button
              color="primary"
              [routerLink]="['/project-member', projectMember.id, 'view']"
              data-cy="entityDetailsButton"
              matTooltip="View"
            >
              <mat-icon>visibility</mat-icon>
            </a>
            <a
              mat-icon-button
              color="accent"
              [routerLink]="['/project-member', projectMember.id, 'edit']"
              data-cy="entityEditButton"
              matTooltip="Edit"
            >
              <mat-icon>edit</mat-icon>
            </a>
            <button mat-icon-button color="warn" (click)="delete(projectMember)" data-cy="entityDeleteButton" matTooltip="Delete">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns" data-cy="entityTable"></tr>
      </table>
    </div>
  }

  @if (projectMembers().length > 0) {
    <mat-paginator
      class="project-member-paginator"
      [length]="totalItems"
      [pageSize]="itemsPerPage"
      [pageIndex]="page - 1"
      [hidePageSize]="true"
      [showFirstLastButtons]="true"
      (page)="onPageChange($event)"
    ></mat-paginator>
  }
</div>
