<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-project-member-heading"
        data-cy="ProjectMemberCreateUpdateHeading"
        jhiTranslate="projectManagementApp.projectMember.home.createOrEditLabel"
      >
        Create or edit a Project Member
      </h2>

      <br />

      <div>
        <jhi-alert-error />

        <!-- Role Field -->
        @let roleRef = editForm.get('role')!;
        <mat-form-field appearance="outline" class="w-100 mb-2">
          <mat-label jhiTranslate="projectManagementApp.projectMember.role">Role</mat-label>
          <mat-select name="role" formControlName="role" id="field_role" data-cy="role">
            <mat-option [value]="null">{{ 'projectManagementApp.MemberRole.null' | translate }}</mat-option>
            @for (memberRole of memberRoleValues; track $index) {
              <mat-option [value]="memberRole">{{ 'projectManagementApp.MemberRole.' + memberRole | translate }}</mat-option>
            }
          </mat-select>
          @if (roleRef.invalid && (roleRef.touched || roleRef.dirty) && roleRef.errors?.required) {
            <ng-container>
              <mat-error jhiTranslate="entity.validation.required">This field is required.</mat-error>
            </ng-container>
          }
        </mat-form-field>

        <!-- Joined Date Field -->
        @let joinedDateRef = editForm.get('joinedDate')!;
        <mat-form-field appearance="outline" class="w-100 mb-2">
          <mat-label jhiTranslate="projectManagementApp.projectMember.joinedDate">Joined Date</mat-label>
          <input
            matInput
            [matDatepicker]="joinedDatePicker"
            name="joinedDate"
            id="field_joinedDate"
            data-cy="joinedDate"
            formControlName="joinedDate"
          />
          <mat-datepicker-toggle matIconSuffix [for]="joinedDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #joinedDatePicker></mat-datepicker>
          @if (joinedDateRef.invalid && (joinedDateRef.touched || joinedDateRef.dirty) && joinedDateRef.errors?.required) {
            <ng-container>
              <mat-error jhiTranslate="entity.validation.required">This field is required.</mat-error>
            </ng-container>
          }
        </mat-form-field>

        <!-- Active Field -->
        @let activeRef = editForm.get('active')!;
        <div class="mb-3">
          <mat-checkbox name="active" id="field_active" data-cy="active" formControlName="active">
            <span jhiTranslate="projectManagementApp.projectMember.active">Active</span>
          </mat-checkbox>
          @if (activeRef.invalid && (activeRef.touched || activeRef.dirty) && activeRef.errors?.required) {
            <div>
              <mat-error jhiTranslate="entity.validation.required">This field is required.</mat-error>
            </div>
          }
        </div>

        <!-- Project Field -->
        @let projectRef = editForm.get('project')!;
        <mat-form-field appearance="outline" class="w-100 mb-2">
          <mat-label jhiTranslate="projectManagementApp.projectMember.project">Project</mat-label>
          <mat-select id="field_project" data-cy="project" name="project" formControlName="project" [compareWith]="compareProject">
            <mat-option [value]="null"></mat-option>
            @for (projectOption of projectsSharedCollection; track $index) {
              <mat-option [value]="projectOption">{{ projectOption.name }}</mat-option>
            }
          </mat-select>
          @if (projectRef.invalid && (projectRef.touched || projectRef.dirty) && projectRef.errors?.required) {
            <ng-container>
              <mat-error jhiTranslate="entity.validation.required">This field is required.</mat-error>
            </ng-container>
          }
        </mat-form-field>

        <!-- Employee Field -->
        @let employeeRef = editForm.get('employee')!;
        <mat-form-field appearance="outline" class="w-100 mb-2">
          <mat-label jhiTranslate="projectManagementApp.projectMember.employee">Employee</mat-label>
          <mat-select id="field_employee" data-cy="employee" name="employee" formControlName="employee" [compareWith]="compareEmployee">
            <mat-option [value]="null"></mat-option>
            @for (employeeOption of employeesSharedCollection; track $index) {
              <mat-option [value]="employeeOption">{{ employeeOption.firstName }}&nbsp;{{ employeeOption.lastName }}</mat-option>
            }
          </mat-select>
          @if (employeeRef.invalid && (employeeRef.touched || employeeRef.dirty) && employeeRef.errors?.required) {
            <ng-container>
              <mat-error jhiTranslate="entity.validation.required">This field is required.</mat-error>
            </ng-container>
          }
        </mat-form-field>
      </div>

      <!-- Action Buttons -->
      <div class="d-flex gap-2">
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" mat-stroked-button (click)="previousState()">
          <mat-icon>block</mat-icon>
          <span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          mat-flat-button
          color="primary"
        >
          <mat-icon>save</mat-icon>
          <span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
