<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-checklist-item-heading"
        data-cy="ChecklistItemCreateUpdateHeading"
        jhiTranslate="projectManagementApp.checklistItem.home.createOrEditLabel"
      >
        Create or edit a Checklist Item
      </h2>

      <div>
        <jhi-alert-error />

        <!-- Content Field -->
        @let contentRef = editForm.get('content')!;
        <mat-form-field appearance="outline" class="w-100 mb-2">
          <mat-label jhiTranslate="projectManagementApp.checklistItem.content">Content</mat-label>
          <input matInput type="text" name="content" id="field_content" data-cy="content" formControlName="content" />
          @if (contentRef.invalid && (contentRef.touched || contentRef.dirty) && contentRef.errors?.required) {
            <ng-container>
              <mat-error jhiTranslate="entity.validation.required">This field is required.</mat-error>
            </ng-container>
          }
        </mat-form-field>

        <!-- Is Done Field -->
        @let isDoneRef = editForm.get('isDone')!;
        <div class="mb-3">
          <mat-checkbox name="isDone" id="field_isDone" data-cy="isDone" formControlName="isDone">
            <span jhiTranslate="projectManagementApp.checklistItem.isDone">Is Done</span>
          </mat-checkbox>
          @if (isDoneRef.invalid && (isDoneRef.touched || isDoneRef.dirty) && isDoneRef.errors?.required) {
            <div>
              <mat-error jhiTranslate="entity.validation.required">This field is required.</mat-error>
            </div>
          }
        </div>

        <!-- Position Field -->
        <mat-form-field appearance="outline" class="w-100 mb-2">
          <mat-label jhiTranslate="projectManagementApp.checklistItem.position">Position</mat-label>
          <input matInput type="number" name="position" id="field_position" data-cy="position" formControlName="position" />
        </mat-form-field>

        <!-- Checklist Field -->
        @let checklistRef = editForm.get('checklist')!;
        <mat-form-field appearance="outline" class="w-100 mb-2">
          <mat-label jhiTranslate="projectManagementApp.checklistItem.checklist">Checklist</mat-label>
          <mat-select
            id="field_checklist"
            data-cy="checklist"
            name="checklist"
            formControlName="checklist"
            [compareWith]="compareChecklist"
          >
            <mat-option [value]="null"></mat-option>
            @for (checklistOption of checklistsSharedCollection; track $index) {
              <mat-option [value]="checklistOption">{{ checklistOption.title }}</mat-option>
            }
          </mat-select>
          @if (checklistRef.invalid && (checklistRef.touched || checklistRef.dirty) && checklistRef.errors?.required) {
            <ng-container>
              <mat-error jhiTranslate="entity.validation.required">This field is required.</mat-error>
            </ng-container>
          }
        </mat-form-field>
      </div>

      <!-- Action Buttons -->
      <div class="d-flex gap-2">
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" mat-stroked-button (click)="previousState()">
          <mat-icon>block</mat-icon>
          <span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          mat-flat-button
          color="primary"
        >
          <mat-icon>save</mat-icon>
          <span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
