<div class="mat-elevation-z1 employee-table-container">
  <table
    mat-table
    [dataSource]="employees()"
    jhiSort
    [(sortState)]="sortStateSignal"
    (sortChange)="sortChange.emit($event)"
    class="employee-mat-table"
  >
    <ng-container matColumnDef="employeeNumber">
      <th mat-header-cell *matHeaderCellDef jhiSortBy="employeeNumber">
        <span jhiTranslate="projectManagementApp.employee.employeeNumber">Employee Number</span>
        <mat-icon class="sort-icon">unfold_more</mat-icon>
      </th>
      <td mat-cell *matCellDef="let employee">{{ employee.employeeNumber }}</td>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef jhiSortBy="firstName">
        <span jhiTranslate="projectManagementApp.employee.firstName">First Name</span>
        <mat-icon class="sort-icon">unfold_more</mat-icon>
      </th>
      <td mat-cell *matCellDef="let employee">{{ employee.firstName }}</td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef jhiSortBy="lastName">
        <span jhiTranslate="projectManagementApp.employee.lastName">Last Name</span>
        <mat-icon class="sort-icon">unfold_more</mat-icon>
      </th>
      <td mat-cell *matCellDef="let employee">{{ employee.lastName }}</td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef jhiSortBy="phone">
        <span jhiTranslate="projectManagementApp.employee.phone">Phone</span>
        <mat-icon class="sort-icon">unfold_more</mat-icon>
      </th>
      <td mat-cell *matCellDef="let employee">{{ employee.phone }}</td>
    </ng-container>

    <ng-container matColumnDef="jobTitle">
      <th mat-header-cell *matHeaderCellDef jhiSortBy="jobTitle">
        <span jhiTranslate="projectManagementApp.employee.jobTitle">Job Title</span>
        <mat-icon class="sort-icon">unfold_more</mat-icon>
      </th>
      <td mat-cell *matCellDef="let employee">{{ employee.jobTitle }}</td>
    </ng-container>

    <ng-container matColumnDef="hireDate">
      <th mat-header-cell *matHeaderCellDef jhiSortBy="hireDate">
        <span jhiTranslate="projectManagementApp.employee.hireDate">Hire Date</span>
        <mat-icon class="sort-icon">unfold_more</mat-icon>
      </th>
      <td mat-cell *matCellDef="let employee">{{ employee.hireDate | formatMediumDate }}</td>
    </ng-container>

    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef jhiSortBy="user.id">
        <span jhiTranslate="projectManagementApp.employee.user">User</span>
        <mat-icon class="sort-icon">unfold_more</mat-icon>
      </th>
      <td mat-cell *matCellDef="let employee">{{ employee.user?.login }}</td>
    </ng-container>

    <ng-container matColumnDef="department">
      <th mat-header-cell *matHeaderCellDef jhiSortBy="department.id">
        <span jhiTranslate="projectManagementApp.employee.department">Department</span>
        <mat-icon class="sort-icon">unfold_more</mat-icon>
      </th>
      <td mat-cell *matCellDef="let employee">
        @if (employee.department) {
          <a [routerLink]="['/department', employee.department.id, 'view']">
            {{ employee.department.name }}
          </a>
        }
        @if (!employee.department) {
          Not assigned
        }
      </td>
    </ng-container>

    <ng-container matColumnDef="note">
      <th mat-header-cell *matHeaderCellDef jhiSortBy="note">
        <span jhiTranslate="projectManagementApp.employee.note">Note</span>
        <mat-icon class="sort-icon">unfold_more</mat-icon>
      </th>
      <td
        mat-cell
        *matCellDef="let employee"
        class="description-cell"
        [matTooltip]="employee.note ?? ''"
        [matTooltipDisabled]="!employee.note"
      >
        {{ employee.note ?? '-' }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      data-cy="entityTable"
      class="employee-row"
      (contextmenu)="onRowContextMenu($event, row)"
    ></tr>
  </table>
</div>

<!-- Hidden trigger for the right-click context menu - its position is moved to the
     cursor's coordinates in onRowContextMenu() below, then opened programmatically.
     This is the standard Angular Material pattern for a context menu since mat-menu
     itself has no "open at arbitrary x/y" API. -->
<div
  style="visibility: hidden; position: fixed"
  [style.left.px]="contextMenuPosition.x"
  [style.top.px]="contextMenuPosition.y"
  [matMenuTriggerFor]="rowMenu"
></div>

<mat-menu #rowMenu="matMenu">
  <ng-template matMenuContent let-employee="employee">
    <a mat-menu-item [routerLink]="['/employee', employee.id, 'view']" data-cy="entityDetailsButton">
      <mat-icon class="menu-icon-view">visibility</mat-icon>
      <span>View</span>
    </a>
    <a mat-menu-item [routerLink]="['/employee', employee.id, 'edit']" data-cy="entityEditButton">
      <mat-icon class="menu-icon-edit">edit</mat-icon>
      <span>Edit</span>
    </a>
    <button mat-menu-item (click)="delete.emit(employee)" data-cy="entityDeleteButton">
      <mat-icon class="menu-icon-delete">delete</mat-icon>
      <span>Delete</span>
    </button>
  </ng-template>
</mat-menu>
