<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-department-heading"
        data-cy="DepartmentCreateUpdateHeading"
        jhiTranslate="projectManagementApp.department.home.createOrEditLabel"
      >
        Create or edit a Department
      </h2>

      <div>
        <jhi-alert-error />

        <!-- Name Field -->
        @let nameRef = editForm.get('name')!;
        <mat-form-field appearance="outline" class="w-100 mb-2">
          <mat-label jhiTranslate="projectManagementApp.department.name">Name</mat-label>
          <input matInput type="text" name="name" id="field_name" data-cy="name" formControlName="name" />
          @if (nameRef.invalid && (nameRef.touched || nameRef.dirty) && nameRef.errors?.required) {
            <ng-container>
              <mat-error jhiTranslate="entity.validation.required">This field is required.</mat-error>
            </ng-container>
          }
          @if (nameRef.invalid && (nameRef.touched || nameRef.dirty) && nameRef.errors?.minlength) {
            <ng-container>
              <mat-error jhiTranslate="entity.validation.minlength" [translateValues]="{ min: '2' }"
                >This field is required to be at least 2 characters.</mat-error
              >
            </ng-container>
          }
          @if (nameRef.invalid && (nameRef.touched || nameRef.dirty) && nameRef.errors?.maxlength) {
            <ng-container>
              <mat-error jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '100' }"
                >This field cannot be longer than 100 characters.</mat-error
              >
            </ng-container>
          }
        </mat-form-field>

        <!-- Description Field -->
        @let descriptionRef = editForm.get('description')!;
        <mat-form-field appearance="outline" class="w-100 mb-2">
          <mat-label jhiTranslate="projectManagementApp.department.description">Description</mat-label>
          <input matInput type="text" name="description" id="field_description" data-cy="description" formControlName="description" />
          @if (descriptionRef.invalid && (descriptionRef.touched || descriptionRef.dirty) && descriptionRef.errors?.maxlength) {
            <ng-container>
              <mat-error jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '500' }"
                >This field cannot be longer than 500 characters.</mat-error
              >
            </ng-container>
          }
        </mat-form-field>
      </div>

      <!-- Action Buttons -->
      <div class="d-flex gap-2">
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" mat-stroked-button (click)="previousState()">
          <mat-icon>block</mat-icon>
          <span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          mat-flat-button
          color="primary"
        >
          <mat-icon>save</mat-icon>
          <span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
