<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (milestone(); as milestoneRef) {
      <div>
        <h2 data-cy="milestoneDetailsHeading"><span jhiTranslate="projectManagementApp.milestone.detail.title">Milestone</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ milestoneRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="projectManagementApp.milestone.title">Title</span></dt>
          <dd>
            <span>{{ milestoneRef.title }}</span>
          </dd>
          <dt><span jhiTranslate="projectManagementApp.milestone.description">Description</span></dt>
          <dd>
            <span>{{ milestoneRef.description }}</span>
          </dd>
          <dt><span jhiTranslate="projectManagementApp.milestone.startDate">Start Date</span></dt>
          <dd>
            <span>{{ milestoneRef.startDate | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="projectManagementApp.milestone.dueDate">Due Date</span></dt>
          <dd>
            <span>{{ milestoneRef.dueDate | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="projectManagementApp.milestone.status">Status</span></dt>
          <dd>
            <span [jhiTranslate]="'projectManagementApp.MilestoneStatus.' + (milestoneRef.status ?? 'null')">{{
              { null: '', PLANNED: 'PLANNED', IN_PROGRESS: 'IN_PROGRESS', COMPLETED: 'COMPLETED', CANCELLED: 'CANCELLED' }[
                milestoneRef.status ?? 'null'
              ]
            }}</span>
          </dd>
          <dt><span jhiTranslate="projectManagementApp.milestone.project">Project</span></dt>
          <dd>
            @if (milestone()!.project) {
              <div>
                <a [routerLink]="['/project', milestone()!.project?.id, 'view']">{{ milestoneRef.project?.name }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/milestone', milestoneRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
