<div>
  <h2 id="page-heading" data-cy="AuthorityHeading">
    <span jhiTranslate="projectManagementApp.adminAuthority.home.title">Authorities</span>

    <div class="d-flex justify-content-end">
      <button mat-stroked-button color="primary" class="me-2" (click)="load()" [disabled]="isLoading">
        <mat-icon [class.spin]="isLoading">refresh</mat-icon>
        <span jhiTranslate="projectManagementApp.adminAuthority.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        mat-flat-button
        color="primary"
        class="jh-create-entity create-authority"
        [routerLink]="['/authority/new']"
      >
        <mat-icon>add</mat-icon>
        <span jhiTranslate="projectManagementApp.adminAuthority.home.createLabel">Create a new Authority</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (authorities().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="projectManagementApp.adminAuthority.home.notFound">No Authorities found</span>
    </div>
  } @else {
    <div class="mat-elevation-z1 authority-table-container">
      <table
        mat-table
        [dataSource]="authorities()"
        jhiSort
        [(sortState)]="sortState"
        (sortChange)="navigateToWithComponentValues($event)"
        class="authority-mat-table"
      >
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef jhiSortBy="name">
            <span jhiTranslate="projectManagementApp.adminAuthority.name">Name</span>
            <mat-icon class="sort-icon">unfold_more</mat-icon>
          </th>
          <td mat-cell *matCellDef="let authority">
            <a [routerLink]="['/authority', authority.name, 'view']">{{ authority.name }}</a>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let authority" class="text-end actions-cell">
            <a
              mat-icon-button
              color="primary"
              [routerLink]="['/authority', authority.name, 'view']"
              data-cy="entityDetailsButton"
              matTooltip="View"
            >
              <mat-icon>visibility</mat-icon>
            </a>
            <button mat-icon-button color="warn" (click)="delete(authority)" data-cy="entityDeleteButton" matTooltip="Delete">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns" data-cy="entityTable"></tr>
      </table>
    </div>
  }
</div>
