<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-sprint-heading" data-cy="SprintCreateUpdateHeading" jhiTranslate="projectManagementApp.sprint.home.createOrEditLabel">
        Create or edit a Sprint
      </h2>

      <div>
        <jhi-alert-error />

        <!-- Name Field -->
        @let nameRef = editForm.get('name')!;
        <mat-form-field appearance="outline" class="w-100 mb-2">
          <mat-label jhiTranslate="projectManagementApp.sprint.name">Name</mat-label>
          <input matInput type="text" name="name" id="field_name" data-cy="name" formControlName="name" />
          @if (nameRef.invalid && (nameRef.touched || nameRef.dirty) && nameRef.errors?.required) {
            <ng-container>
              <mat-error jhiTranslate="entity.validation.required">This field is required.</mat-error>
            </ng-container>
          }
          @if (nameRef.invalid && (nameRef.touched || nameRef.dirty) && nameRef.errors?.minlength) {
            <ng-container>
              <mat-error jhiTranslate="entity.validation.minlength" [translateValues]="{ min: '2' }"
                >This field is required to be at least 2 characters.</mat-error
              >
            </ng-container>
          }
          @if (nameRef.invalid && (nameRef.touched || nameRef.dirty) && nameRef.errors?.maxlength) {
            <ng-container>
              <mat-error jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '100' }"
                >This field cannot be longer than 100 characters.</mat-error
              >
            </ng-container>
          }
        </mat-form-field>

        <!-- Goal Field -->
        <mat-form-field appearance="outline" class="w-100 mb-2">
          <mat-label jhiTranslate="projectManagementApp.sprint.goal">Goal</mat-label>
          <textarea matInput name="goal" id="field_goal" data-cy="goal" formControlName="goal" rows="3"></textarea>
        </mat-form-field>

        <!-- Start Date Field -->
        @let startDateRef = editForm.get('startDate')!;
        <mat-form-field appearance="outline" class="w-100 mb-2">
          <mat-label jhiTranslate="projectManagementApp.sprint.startDate">Start Date</mat-label>
          <input
            matInput
            [matDatepicker]="startDatePicker"
            name="startDate"
            id="field_startDate"
            data-cy="startDate"
            formControlName="startDate"
          />
          <mat-datepicker-toggle matIconSuffix [for]="startDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #startDatePicker></mat-datepicker>
          @if (startDateRef.invalid && (startDateRef.touched || startDateRef.dirty) && startDateRef.errors?.required) {
            <ng-container>
              <mat-error jhiTranslate="entity.validation.required">This field is required.</mat-error>
            </ng-container>
          }
        </mat-form-field>

        <!-- End Date Field -->
        @let endDateRef = editForm.get('endDate')!;
        <mat-form-field appearance="outline" class="w-100 mb-2">
          <mat-label jhiTranslate="projectManagementApp.sprint.endDate">End Date</mat-label>
          <input matInput [matDatepicker]="endDatePicker" name="endDate" id="field_endDate" data-cy="endDate" formControlName="endDate" />
          <mat-datepicker-toggle matIconSuffix [for]="endDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #endDatePicker></mat-datepicker>
          @if (endDateRef.invalid && (endDateRef.touched || endDateRef.dirty) && endDateRef.errors?.required) {
            <ng-container>
              <mat-error jhiTranslate="entity.validation.required">This field is required.</mat-error>
            </ng-container>
          }
        </mat-form-field>

        <!-- Status Field -->
        @let statusRef = editForm.get('status')!;
        <mat-form-field appearance="outline" class="w-100 mb-2">
          <mat-label jhiTranslate="projectManagementApp.sprint.status">Status</mat-label>
          <mat-select name="status" formControlName="status" id="field_status" data-cy="status">
            <mat-option [value]="null">{{ 'projectManagementApp.SprintStatus.null' | translate }}</mat-option>
            @for (sprintStatus of sprintStatusValues; track $index) {
              <mat-option [value]="sprintStatus">{{ 'projectManagementApp.SprintStatus.' + sprintStatus | translate }}</mat-option>
            }
          </mat-select>
          @if (statusRef.invalid && (statusRef.touched || statusRef.dirty) && statusRef.errors?.required) {
            <ng-container>
              <mat-error jhiTranslate="entity.validation.required">This field is required.</mat-error>
            </ng-container>
          }
        </mat-form-field>

        <!-- Capacity Field -->
        @let capacityRef = editForm.get('capacity')!;
        <mat-form-field appearance="outline" class="w-100 mb-2">
          <mat-label jhiTranslate="projectManagementApp.sprint.capacity">Capacity</mat-label>
          <input matInput type="number" name="capacity" id="field_capacity" data-cy="capacity" formControlName="capacity" />
          @if (capacityRef.invalid && (capacityRef.touched || capacityRef.dirty) && capacityRef.errors?.min) {
            <ng-container>
              <mat-error jhiTranslate="entity.validation.min" [translateValues]="{ min: '1' }">This field should be at least 1.</mat-error>
            </ng-container>
          }
          @if (capacityRef.invalid && (capacityRef.touched || capacityRef.dirty) && capacityRef.errors?.number) {
            <ng-container>
              <mat-error jhiTranslate="entity.validation.number">This field should be a number.</mat-error>
            </ng-container>
          }
        </mat-form-field>

        <!-- Velocity Field -->
        @let velocityRef = editForm.get('velocity')!;
        <mat-form-field appearance="outline" class="w-100 mb-2">
          <mat-label jhiTranslate="projectManagementApp.sprint.velocity">Velocity</mat-label>
          <input matInput type="number" name="velocity" id="field_velocity" data-cy="velocity" formControlName="velocity" />
          @if (velocityRef.invalid && (velocityRef.touched || velocityRef.dirty) && velocityRef.errors?.min) {
            <ng-container>
              <mat-error jhiTranslate="entity.validation.min" [translateValues]="{ min: '0' }">This field should be at least 0.</mat-error>
            </ng-container>
          }
          @if (velocityRef.invalid && (velocityRef.touched || velocityRef.dirty) && velocityRef.errors?.number) {
            <ng-container>
              <mat-error jhiTranslate="entity.validation.number">This field should be a number.</mat-error>
            </ng-container>
          }
        </mat-form-field>

        <!-- Project Field -->
        @let projectRef = editForm.get('project')!;
        <mat-form-field appearance="outline" class="w-100 mb-2">
          <mat-label jhiTranslate="projectManagementApp.sprint.project">Project</mat-label>
          <mat-select id="field_project" data-cy="project" name="project" formControlName="project" [compareWith]="compareProject">
            <mat-option [value]="null"></mat-option>
            @for (projectOption of projectsSharedCollection; track $index) {
              <mat-option [value]="projectOption">{{ projectOption.name }}</mat-option>
            }
          </mat-select>
          @if (projectRef.invalid && (projectRef.touched || projectRef.dirty) && projectRef.errors?.required) {
            <ng-container>
              <mat-error jhiTranslate="entity.validation.required">This field is required.</mat-error>
            </ng-container>
          }
        </mat-form-field>
      </div>

      <!-- Action Buttons -->
      <div class="d-flex gap-2">
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" mat-stroked-button (click)="previousState()">
          <mat-icon>block</mat-icon>
          <span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          mat-flat-button
          color="primary"
        >
          <mat-icon>save</mat-icon>
          <span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
