<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-attachment-heading"
        data-cy="AttachmentCreateUpdateHeading"
        jhiTranslate="projectManagementApp.attachment.home.createOrEditLabel"
      >
        Create or edit a Attachment
      </h2>

      <br />

      <div>
        <jhi-alert-error />

        <!-- File Name Field -->
        @let fileNameRef = editForm.get('fileName')!;
        <mat-form-field appearance="outline" class="w-100 mb-2">
          <mat-label jhiTranslate="projectManagementApp.attachment.fileName">File Name</mat-label>
          <input matInput type="text" name="fileName" id="field_fileName" data-cy="fileName" formControlName="fileName" />
          @if (fileNameRef.invalid && (fileNameRef.touched || fileNameRef.dirty) && fileNameRef.errors?.required) {
            <ng-container>
              <mat-error jhiTranslate="entity.validation.required">This field is required.</mat-error>
            </ng-container>
          }
        </mat-form-field>

        <!-- File Url Field -->
        @let fileUrlRef = editForm.get('fileUrl')!;
        <mat-form-field appearance="outline" class="w-100 mb-2">
          <mat-label jhiTranslate="projectManagementApp.attachment.fileUrl">File Url</mat-label>
          <input matInput type="text" name="fileUrl" id="field_fileUrl" data-cy="fileUrl" formControlName="fileUrl" />
          @if (fileUrlRef.invalid && (fileUrlRef.touched || fileUrlRef.dirty) && fileUrlRef.errors?.required) {
            <ng-container>
              <mat-error jhiTranslate="entity.validation.required">This field is required.</mat-error>
            </ng-container>
          }
        </mat-form-field>

        <!-- File Type Field -->
        <mat-form-field appearance="outline" class="w-100 mb-2">
          <mat-label jhiTranslate="projectManagementApp.attachment.fileType">File Type</mat-label>
          <input matInput type="text" name="fileType" id="field_fileType" data-cy="fileType" formControlName="fileType" />
        </mat-form-field>

        <!-- File Size Field -->
        <mat-form-field appearance="outline" class="w-100 mb-2">
          <mat-label jhiTranslate="projectManagementApp.attachment.fileSize">File Size</mat-label>
          <input matInput type="number" name="fileSize" id="field_fileSize" data-cy="fileSize" formControlName="fileSize" />
        </mat-form-field>

        <!-- Uploaded Date Field -->
        @let uploadedDateRef = editForm.get('uploadedDate')!;
        <mat-form-field appearance="outline" class="w-100 mb-2">
          <mat-label jhiTranslate="projectManagementApp.attachment.uploadedDate">Uploaded Date</mat-label>
          <input
            matInput
            type="datetime-local"
            name="uploadedDate"
            id="field_uploadedDate"
            data-cy="uploadedDate"
            formControlName="uploadedDate"
            placeholder="YYYY-MM-DD HH:mm"
          />
          @if (uploadedDateRef.invalid && (uploadedDateRef.touched || uploadedDateRef.dirty) && uploadedDateRef.errors?.required) {
            <ng-container>
              <mat-error jhiTranslate="entity.validation.required">This field is required.</mat-error>
            </ng-container>
          }
          @if (uploadedDateRef.invalid && (uploadedDateRef.touched || uploadedDateRef.dirty) && uploadedDateRef.errors?.datetimelocal) {
            <ng-container>
              <mat-error jhiTranslate="entity.validation.datetimelocal">This field should be a date and time.</mat-error>
            </ng-container>
          }
        </mat-form-field>

        <!-- Task Field -->
        <mat-form-field appearance="outline" class="w-100 mb-2">
          <mat-label jhiTranslate="projectManagementApp.attachment.task">Task</mat-label>
          <mat-select id="field_task" data-cy="task" name="task" formControlName="task" [compareWith]="compareTask">
            <mat-option [value]="null"></mat-option>
            @for (taskOption of tasksSharedCollection; track $index) {
              <mat-option [value]="taskOption">{{ taskOption.title }}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <!-- Employee Field -->
        <mat-form-field appearance="outline" class="w-100 mb-2">
          <mat-label jhiTranslate="projectManagementApp.attachment.employee">Employee</mat-label>
          <mat-select id="field_employee" data-cy="employee" name="employee" formControlName="employee" [compareWith]="compareEmployee">
            <mat-option [value]="null"></mat-option>
            @for (employeeOption of employeesSharedCollection; track $index) {
              <mat-option [value]="employeeOption">{{ employeeOption.firstName }}&nbsp;{{ employeeOption.lastName }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Action Buttons -->
      <div class="d-flex gap-2">
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" mat-stroked-button (click)="previousState()">
          <mat-icon>block</mat-icon>
          <span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          mat-flat-button
          color="primary"
        >
          <mat-icon>save</mat-icon>
          <span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
