<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-time-entry-heading"
        data-cy="TimeEntryCreateUpdateHeading"
        jhiTranslate="projectManagementApp.timeEntry.home.createOrEditLabel"
      >
        Create or edit a Time Entry
      </h2>

      <br />

      <div>
        <jhi-alert-error />

        <!-- Description Field -->
        @let descriptionRef = editForm.get('description')!;
        <mat-form-field appearance="outline" class="w-100 mb-2">
          <mat-label jhiTranslate="projectManagementApp.timeEntry.description">Description</mat-label>
          <input matInput type="text" name="description" id="field_description" data-cy="description" formControlName="description" />
          @if (descriptionRef.invalid && (descriptionRef.touched || descriptionRef.dirty) && descriptionRef.errors?.required) {
            <ng-container>
              <mat-error jhiTranslate="entity.validation.required">This field is required.</mat-error>
            </ng-container>
          }
        </mat-form-field>

        <!-- Start Time Field -->
        @let startTimeRef = editForm.get('startTime')!;
        <mat-form-field appearance="outline" class="w-100 mb-2">
          <mat-label jhiTranslate="projectManagementApp.timeEntry.startTime">Start Time</mat-label>
          <input
            matInput
            type="datetime-local"
            name="startTime"
            id="field_startTime"
            data-cy="startTime"
            formControlName="startTime"
            placeholder="YYYY-MM-DD HH:mm"
          />
          @if (startTimeRef.invalid && (startTimeRef.touched || startTimeRef.dirty) && startTimeRef.errors?.required) {
            <ng-container>
              <mat-error jhiTranslate="entity.validation.required">This field is required.</mat-error>
            </ng-container>
          }
          @if (startTimeRef.invalid && (startTimeRef.touched || startTimeRef.dirty) && startTimeRef.errors?.datetimelocal) {
            <ng-container>
              <mat-error jhiTranslate="entity.validation.datetimelocal">This field should be a date and time.</mat-error>
            </ng-container>
          }
        </mat-form-field>

        <!-- End Time Field -->
        @let endTimeRef = editForm.get('endTime')!;
        <mat-form-field appearance="outline" class="w-100 mb-2">
          <mat-label jhiTranslate="projectManagementApp.timeEntry.endTime">End Time</mat-label>
          <input
            matInput
            type="datetime-local"
            name="endTime"
            id="field_endTime"
            data-cy="endTime"
            formControlName="endTime"
            placeholder="YYYY-MM-DD HH:mm"
          />
          @if (endTimeRef.invalid && (endTimeRef.touched || endTimeRef.dirty) && endTimeRef.errors?.required) {
            <ng-container>
              <mat-error jhiTranslate="entity.validation.required">This field is required.</mat-error>
            </ng-container>
          }
          @if (endTimeRef.invalid && (endTimeRef.touched || endTimeRef.dirty) && endTimeRef.errors?.datetimelocal) {
            <ng-container>
              <mat-error jhiTranslate="entity.validation.datetimelocal">This field should be a date and time.</mat-error>
            </ng-container>
          }
        </mat-form-field>

        <!-- Hours Field -->
        @let hoursRef = editForm.get('hours')!;
        <mat-form-field appearance="outline" class="w-100 mb-2">
          <mat-label jhiTranslate="projectManagementApp.timeEntry.hours">Hours</mat-label>
          <input matInput type="number" name="hours" id="field_hours" data-cy="hours" formControlName="hours" />
          @if (hoursRef.invalid && (hoursRef.touched || hoursRef.dirty) && hoursRef.errors?.required) {
            <ng-container>
              <mat-error jhiTranslate="entity.validation.required">This field is required.</mat-error>
            </ng-container>
          }
          @if (hoursRef.invalid && (hoursRef.touched || hoursRef.dirty) && hoursRef.errors?.number) {
            <ng-container>
              <mat-error jhiTranslate="entity.validation.number">This field should be a number.</mat-error>
            </ng-container>
          }
        </mat-form-field>

        <!-- Entry Date Field -->
        @let entryDateRef = editForm.get('entryDate')!;
        <mat-form-field appearance="outline" class="w-100 mb-2">
          <mat-label jhiTranslate="projectManagementApp.timeEntry.entryDate">Entry Date</mat-label>
          <input
            matInput
            [matDatepicker]="entryDatePicker"
            name="entryDate"
            id="field_entryDate"
            data-cy="entryDate"
            formControlName="entryDate"
          />
          <mat-datepicker-toggle matIconSuffix [for]="entryDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #entryDatePicker></mat-datepicker>
          @if (entryDateRef.invalid && (entryDateRef.touched || entryDateRef.dirty) && entryDateRef.errors?.required) {
            <ng-container>
              <mat-error jhiTranslate="entity.validation.required">This field is required.</mat-error>
            </ng-container>
          }
        </mat-form-field>

        <!-- Task Field -->
        @let taskRef = editForm.get('task')!;
        <mat-form-field appearance="outline" class="w-100 mb-2">
          <mat-label jhiTranslate="projectManagementApp.timeEntry.task">Task</mat-label>
          <mat-select id="field_task" data-cy="task" name="task" formControlName="task" [compareWith]="compareTask">
            <mat-option [value]="null"></mat-option>
            @for (taskOption of tasksSharedCollection; track $index) {
              <mat-option [value]="taskOption">{{ taskOption.title }}</mat-option>
            }
          </mat-select>
          @if (taskRef.invalid && (taskRef.touched || taskRef.dirty) && taskRef.errors?.required) {
            <ng-container>
              <mat-error jhiTranslate="entity.validation.required">This field is required.</mat-error>
            </ng-container>
          }
        </mat-form-field>

        <!-- Employee Field -->
        @let employeeRef = editForm.get('employee')!;
        <mat-form-field appearance="outline" class="w-100 mb-2">
          <mat-label jhiTranslate="projectManagementApp.timeEntry.employee">Employee</mat-label>
          <mat-select id="field_employee" data-cy="employee" name="employee" formControlName="employee" [compareWith]="compareEmployee">
            <mat-option [value]="null"></mat-option>
            @for (employeeOption of employeesSharedCollection; track $index) {
              <mat-option [value]="employeeOption">{{ employeeOption.firstName }}&nbsp;{{ employeeOption.lastName }}</mat-option>
            }
          </mat-select>
          @if (employeeRef.invalid && (employeeRef.touched || employeeRef.dirty) && employeeRef.errors?.required) {
            <ng-container>
              <mat-error jhiTranslate="entity.validation.required">This field is required.</mat-error>
            </ng-container>
          }
        </mat-form-field>

        <!-- Note Field -->
        @let noteRef = editForm.get('note')!;
        <mat-form-field appearance="outline" class="w-100 mb-2">
          <mat-label jhiTranslate="projectManagementApp.timeEntry.note">Note</mat-label>
          <textarea matInput name="note" id="field_note" data-cy="note" formControlName="note" rows="3"></textarea>
          @if (noteRef.invalid && (noteRef.touched || noteRef.dirty) && noteRef.errors?.maxlength) {
            <ng-container>
              <mat-error jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '1000' }"
                >This field cannot be longer than 1000 characters.</mat-error
              >
            </ng-container>
          }
        </mat-form-field>
      </div>

      <!-- Action Buttons -->
      <div class="d-flex gap-2">
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" mat-stroked-button (click)="previousState()">
          <mat-icon>block</mat-icon>
          <span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          mat-flat-button
          color="primary"
        >
          <mat-icon>save</mat-icon>
          <span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
