<div>
  <h2 id="page-heading" data-cy="ActivityLogHeading">
    <span jhiTranslate="projectManagementApp.activityLog.home.title">Activities Logs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="projectManagementApp.activityLog.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-activity-log"
        [routerLink]="['/activity-log/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="projectManagementApp.activityLog.home.createLabel">Create a new Activity Log</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (activityLogs().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="projectManagementApp.activityLog.home.notFound">No Activity Logs found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="action">
              <div class="d-flex">
                <span jhiTranslate="projectManagementApp.activityLog.action">Action</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="entityName">
              <div class="d-flex">
                <span jhiTranslate="projectManagementApp.activityLog.entityName">Entity Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="entityId">
              <div class="d-flex">
                <span jhiTranslate="projectManagementApp.activityLog.entityId">Entity Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="description">
              <div class="d-flex">
                <span jhiTranslate="projectManagementApp.activityLog.description">Description</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdDate">
              <div class="d-flex">
                <span jhiTranslate="projectManagementApp.activityLog.createdDate">Created Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="employee.firstName">
              <div class="d-flex">
                <span jhiTranslate="projectManagementApp.activityLog.employee">Employee</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (activityLog of activityLogs(); track trackId(activityLog)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/activity-log', activityLog.id, 'view']">{{ activityLog.id }}</a>
              </td>
              <td>{{ activityLog.action }}</td>
              <td>{{ activityLog.entityName }}</td>
              <td>{{ activityLog.entityId }}</td>
              <td>{{ activityLog.description }}</td>
              <td>{{ activityLog.createdDate | formatMediumDatetime }}</td>
              <td>
                @if (activityLog.employee) {
                  <div>
                    <a [routerLink]="['/employee', activityLog.employee.id, 'view']">{{ activityLog.employee.firstName }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/activity-log', activityLog.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/activity-log', activityLog.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(activityLog)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (activityLogs().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page, totalItems, itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
