<div>
  <h2 id="page-heading" data-cy="DepartmentHeading">
    <span jhiTranslate="projectManagementApp.department.home.title">Departments</span>

    <div class="d-flex justify-content-end">
      <button mat-stroked-button color="primary" class="me-2" (click)="load()" [disabled]="isLoading">
        <mat-icon [class.spin]="isLoading">refresh</mat-icon>
        <span jhiTranslate="projectManagementApp.department.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        mat-flat-button
        color="primary"
        class="jh-create-entity create-department"
        [routerLink]="['/department/new']"
      >
        <mat-icon>add</mat-icon>
        <span jhiTranslate="projectManagementApp.department.home.createLabel">Create a new Department</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (departments().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="projectManagementApp.department.home.notFound">No Departments found</span>
    </div>
  } @else {
    <div class="mat-elevation-z1 department-table-container">
      <table
        mat-table
        [dataSource]="departments()"
        jhiSort
        [(sortState)]="sortState"
        (sortChange)="navigateToWithComponentValues($event)"
        class="department-mat-table"
      >
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef jhiSortBy="name">
            <span jhiTranslate="projectManagementApp.department.name">Name</span>
            <mat-icon class="sort-icon">unfold_more</mat-icon>
          </th>
          <td mat-cell *matCellDef="let department">{{ department.name }}</td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef jhiSortBy="description">
            <span jhiTranslate="projectManagementApp.department.description">Description</span>
            <mat-icon class="sort-icon">unfold_more</mat-icon>
          </th>
          <td mat-cell *matCellDef="let department">{{ department.description }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let department" class="text-end actions-cell">
            <a
              mat-icon-button
              color="primary"
              [routerLink]="['/department', department.id, 'view']"
              data-cy="entityDetailsButton"
              matTooltip="View"
            >
              <mat-icon>visibility</mat-icon>
            </a>
            <a
              mat-icon-button
              color="accent"
              [routerLink]="['/department', department.id, 'edit']"
              data-cy="entityEditButton"
              matTooltip="Edit"
            >
              <mat-icon>edit</mat-icon>
            </a>
            <button mat-icon-button color="warn" (click)="delete(department)" data-cy="entityDeleteButton" matTooltip="Delete">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns" data-cy="entityTable"></tr>
      </table>
    </div>
  }

  @if (departments().length > 0) {
    <mat-paginator
      class="department-paginator"
      [length]="totalItems"
      [pageSize]="itemsPerPage"
      [pageIndex]="page - 1"
      [hidePageSize]="true"
      [showFirstLastButtons]="true"
      (page)="onPageChange($event)"
    ></mat-paginator>
  }
</div>
