<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-activity-log-heading"
        data-cy="ActivityLogCreateUpdateHeading"
        jhiTranslate="projectManagementApp.activityLog.home.createOrEditLabel"
      >
        Create or edit a Activity Log
      </h2>

      <div>
        <jhi-alert-error />

        <!-- Action Field -->
        @let actionRef = editForm.get('action')!;
        <mat-form-field appearance="outline" class="w-100 mb-2">
          <mat-label jhiTranslate="projectManagementApp.activityLog.action">Action</mat-label>
          <input matInput type="text" name="action" id="field_action" data-cy="action" formControlName="action" />
          @if (actionRef.invalid && (actionRef.touched || actionRef.dirty) && actionRef.errors?.required) {
            <ng-container>
              <mat-error jhiTranslate="entity.validation.required">This field is required.</mat-error>
            </ng-container>
          }
        </mat-form-field>

        <!-- Entity Name Field -->
        @let entityNameRef = editForm.get('entityName')!;
        <mat-form-field appearance="outline" class="w-100 mb-2">
          <mat-label jhiTranslate="projectManagementApp.activityLog.entityName">Entity Name</mat-label>
          <input matInput type="text" name="entityName" id="field_entityName" data-cy="entityName" formControlName="entityName" />
          @if (entityNameRef.invalid && (entityNameRef.touched || entityNameRef.dirty) && entityNameRef.errors?.required) {
            <ng-container>
              <mat-error jhiTranslate="entity.validation.required">This field is required.</mat-error>
            </ng-container>
          }
        </mat-form-field>

        <!-- Entity Id Field -->
        <mat-form-field appearance="outline" class="w-100 mb-2">
          <mat-label jhiTranslate="projectManagementApp.activityLog.entityId">Entity Id</mat-label>
          <input matInput type="number" name="entityId" id="field_entityId" data-cy="entityId" formControlName="entityId" />
        </mat-form-field>

        <!-- Description Field -->
        <mat-form-field appearance="outline" class="w-100 mb-2">
          <mat-label jhiTranslate="projectManagementApp.activityLog.description">Description</mat-label>
          <input matInput type="text" name="description" id="field_description" data-cy="description" formControlName="description" />
        </mat-form-field>

        <!-- Created Date Field -->
        @let createdDateRef = editForm.get('createdDate')!;
        <mat-form-field appearance="outline" class="w-100 mb-2">
          <mat-label jhiTranslate="projectManagementApp.activityLog.createdDate">Created Date</mat-label>
          <input
            matInput
            type="datetime-local"
            name="createdDate"
            id="field_createdDate"
            data-cy="createdDate"
            formControlName="createdDate"
            placeholder="YYYY-MM-DD HH:mm"
          />
          @if (createdDateRef.invalid && (createdDateRef.touched || createdDateRef.dirty) && createdDateRef.errors?.required) {
            <ng-container>
              <mat-error jhiTranslate="entity.validation.required">This field is required.</mat-error>
            </ng-container>
          }
          @if (createdDateRef.invalid && (createdDateRef.touched || createdDateRef.dirty) && createdDateRef.errors?.datetimelocal) {
            <ng-container>
              <mat-error jhiTranslate="entity.validation.datetimelocal">This field should be a date and time.</mat-error>
            </ng-container>
          }
        </mat-form-field>

        <!-- Employee Field -->
        @let employeeRef = editForm.get('employee')!;
        <mat-form-field appearance="outline" class="w-100 mb-2">
          <mat-label jhiTranslate="projectManagementApp.activityLog.employee">Employee</mat-label>
          <mat-select id="field_employee" data-cy="employee" name="employee" formControlName="employee" [compareWith]="compareEmployee">
            <mat-option [value]="null"></mat-option>
            @for (employeeOption of employeesSharedCollection; track $index) {
              <mat-option [value]="employeeOption">{{ employeeOption.firstName }}&nbsp;{{ employeeOption.lastName }}</mat-option>
            }
          </mat-select>
          @if (employeeRef.invalid && (employeeRef.touched || employeeRef.dirty) && employeeRef.errors?.required) {
            <ng-container>
              <mat-error jhiTranslate="entity.validation.required">This field is required.</mat-error>
            </ng-container>
          }
        </mat-form-field>
      </div>

      <!-- Action Buttons -->
      <div class="d-flex gap-2">
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" mat-stroked-button (click)="previousState()">
          <mat-icon>block</mat-icon>
          <span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          mat-flat-button
          color="primary"
        >
          <mat-icon>save</mat-icon>
          <span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
