<div>
  <h2 id="page-heading" data-cy="TimeEntryHeading">
    <span jhiTranslate="projectManagementApp.timeEntry.home.title">Times Entries</span>

    <div class="d-flex justify-content-end">
      <button mat-stroked-button color="primary" class="me-2" (click)="load()" [disabled]="isLoading">
        <mat-icon [class.spin]="isLoading">refresh</mat-icon>
        <span jhiTranslate="projectManagementApp.timeEntry.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        mat-flat-button
        color="primary"
        class="jh-create-entity create-time-entry"
        [routerLink]="['/time-entry/new']"
      >
        <mat-icon>add</mat-icon>
        <span jhiTranslate="projectManagementApp.timeEntry.home.createLabel">Create a new Time Entry</span>
      </button>
    </div>
  </h2>

  <div class="time-entry-filter-container">
    <mat-form-field appearance="outline" class="time-entry-task-field" subscriptSizing="dynamic">
      <mat-label>Task</mat-label>
      <input
        matInput
        type="text"
        [matAutocomplete]="taskAuto"
        [value]="taskSearchTerm()"
        (input)="onTaskInput($event)"
        placeholder="Search task"
      />
      <mat-autocomplete #taskAuto="matAutocomplete" [displayWith]="displayTaskTitle" (optionSelected)="onTaskSelected($event)">
        @for (task of filteredTasks(); track task.id) {
          <mat-option [value]="task">{{ task.title }}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="outline" class="time-entry-employee-field" subscriptSizing="dynamic">
      <mat-label>Employee</mat-label>
      <input
        matInput
        type="text"
        [matAutocomplete]="employeeAuto"
        [value]="employeeSearchTerm()"
        (input)="onEmployeeInput($event)"
        placeholder="Search employee"
      />
      <mat-autocomplete #employeeAuto="matAutocomplete" [displayWith]="displayEmployeeName" (optionSelected)="onEmployeeSelected($event)">
        @for (employee of filteredEmployees(); track employee.id) {
          <mat-option [value]="employee">{{ employee.firstName }} {{ employee.lastName }}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>

    @if (filterTaskId() || filterEmployeeId()) {
      <button mat-icon-button aria-label="Clear filters" class="time-entry-filter-clear-btn" (click)="clearSearch()">
        <mat-icon>close</mat-icon>
      </button>
    }
  </div>

  <jhi-alert-error />

  <jhi-alert />

  @if (timeEntries().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="projectManagementApp.timeEntry.home.notFound">No Time Entries found</span>
    </div>
  } @else {
    <div class="mat-elevation-z1 time-entry-table-container">
      <table
        mat-table
        [dataSource]="timeEntries()"
        jhiSort
        [(sortState)]="sortState"
        (sortChange)="navigateToWithComponentValues($event)"
        class="time-entry-mat-table"
      >
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef jhiSortBy="description">
            <span jhiTranslate="projectManagementApp.timeEntry.description">Description</span>
            <mat-icon class="sort-icon">unfold_more</mat-icon>
          </th>
          <td mat-cell *matCellDef="let timeEntry">{{ timeEntry.description }}</td>
        </ng-container>

        <ng-container matColumnDef="startTime">
          <th mat-header-cell *matHeaderCellDef jhiSortBy="startTime">
            <span jhiTranslate="projectManagementApp.timeEntry.startTime">Start Time</span>
            <mat-icon class="sort-icon">unfold_more</mat-icon>
          </th>
          <td mat-cell *matCellDef="let timeEntry">{{ timeEntry.startTime | formatMediumDatetime }}</td>
        </ng-container>

        <ng-container matColumnDef="endTime">
          <th mat-header-cell *matHeaderCellDef jhiSortBy="endTime">
            <span jhiTranslate="projectManagementApp.timeEntry.endTime">End Time</span>
            <mat-icon class="sort-icon">unfold_more</mat-icon>
          </th>
          <td mat-cell *matCellDef="let timeEntry">{{ timeEntry.endTime | formatMediumDatetime }}</td>
        </ng-container>

        <ng-container matColumnDef="hours">
          <th mat-header-cell *matHeaderCellDef jhiSortBy="hours">
            <span jhiTranslate="projectManagementApp.timeEntry.hours">Hours</span>
            <mat-icon class="sort-icon">unfold_more</mat-icon>
          </th>
          <td mat-cell *matCellDef="let timeEntry">{{ timeEntry.hours }}</td>
        </ng-container>

        <ng-container matColumnDef="entryDate">
          <th mat-header-cell *matHeaderCellDef jhiSortBy="entryDate">
            <span jhiTranslate="projectManagementApp.timeEntry.entryDate">Entry Date</span>
            <mat-icon class="sort-icon">unfold_more</mat-icon>
          </th>
          <td mat-cell *matCellDef="let timeEntry">{{ timeEntry.entryDate | formatMediumDate }}</td>
        </ng-container>

        <ng-container matColumnDef="task">
          <th mat-header-cell *matHeaderCellDef jhiSortBy="task.title">
            <span jhiTranslate="projectManagementApp.timeEntry.task">Task</span>
            <mat-icon class="sort-icon">unfold_more</mat-icon>
          </th>
          <td mat-cell *matCellDef="let timeEntry">
            @if (timeEntry.task) {
              <a [routerLink]="['/task', timeEntry.task.id, 'view']">{{ timeEntry.task.title }}</a>
            }
          </td>
        </ng-container>

        <ng-container matColumnDef="employee">
          <th mat-header-cell *matHeaderCellDef jhiSortBy="employee.firstName">
            <span jhiTranslate="projectManagementApp.timeEntry.employee">Employee</span>
            <mat-icon class="sort-icon">unfold_more</mat-icon>
          </th>
          <td mat-cell *matCellDef="let timeEntry">
            @if (timeEntry.employee) {
              <a [routerLink]="['/employee', timeEntry.employee.id, 'view']"
                >{{ timeEntry.employee.firstName }}&nbsp;{{ timeEntry.employee.lastName }}</a
              >
            }
          </td>
        </ng-container>

        <ng-container matColumnDef="note">
          <th mat-header-cell *matHeaderCellDef jhiSortBy="note">
            <span jhiTranslate="projectManagementApp.project.note">Note</span>
            <mat-icon class="sort-icon">unfold_more</mat-icon>
          </th>
          <td
            mat-cell
            *matCellDef="let timeEntry"
            class="description-cell"
            [matTooltip]="timeEntry.note ?? ''"
            [matTooltipDisabled]="!timeEntry.note"
          >
            {{ timeEntry.note }}
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let timeEntry" class="text-end actions-cell">
            <a
              mat-icon-button
              color="primary"
              [routerLink]="['/time-entry', timeEntry.id, 'view']"
              data-cy="entityDetailsButton"
              matTooltip="View"
            >
              <mat-icon>visibility</mat-icon>
            </a>
            <a
              mat-icon-button
              color="accent"
              [routerLink]="['/time-entry', timeEntry.id, 'edit']"
              data-cy="entityEditButton"
              matTooltip="Edit"
            >
              <mat-icon>edit</mat-icon>
            </a>
            <button mat-icon-button color="warn" (click)="delete(timeEntry)" data-cy="entityDeleteButton" matTooltip="Delete">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns" data-cy="entityTable"></tr>
      </table>
    </div>
  }

  @if (timeEntries().length > 0) {
    <mat-paginator
      class="time-entry-paginator"
      [length]="totalItems"
      [pageSize]="itemsPerPage"
      [pageIndex]="page - 1"
      [hidePageSize]="true"
      [showFirstLastButtons]="true"
      (page)="onPageChange($event)"
    ></mat-paginator>
  }
</div>
