<div>
  <h2 id="page-heading" data-cy="MilestoneHeading">
    <span jhiTranslate="projectManagementApp.milestone.home.title">Milestones</span>

    <div class="d-flex justify-content-end">
      <button mat-stroked-button color="primary" class="me-2" (click)="load()" [disabled]="isLoading">
        <mat-icon [class.spin]="isLoading">refresh</mat-icon>
        <span jhiTranslate="projectManagementApp.milestone.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        mat-flat-button
        color="primary"
        class="jh-create-entity create-milestone"
        [routerLink]="['/milestone/new']"
      >
        <mat-icon>add</mat-icon>
        <span jhiTranslate="projectManagementApp.milestone.home.createLabel">Create a new Milestone</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (milestones().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="projectManagementApp.milestone.home.notFound">No Milestones found</span>
    </div>
  } @else {
    <div class="mat-elevation-z1 milestone-table-container">
      <table
        mat-table
        [dataSource]="milestones()"
        jhiSort
        [(sortState)]="sortState"
        (sortChange)="navigateToWithComponentValues($event)"
        class="milestone-mat-table"
      >
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef jhiSortBy="title">
            <span jhiTranslate="projectManagementApp.milestone.title">Title</span>
            <mat-icon class="sort-icon">unfold_more</mat-icon>
          </th>
          <td mat-cell *matCellDef="let milestone">{{ milestone.title }}</td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef jhiSortBy="description">
            <span jhiTranslate="projectManagementApp.milestone.description">Description</span>
            <mat-icon class="sort-icon">unfold_more</mat-icon>
          </th>
          <td mat-cell *matCellDef="let milestone" class="description-cell">{{ milestone.description }}</td>
        </ng-container>

        <ng-container matColumnDef="startDate">
          <th mat-header-cell *matHeaderCellDef jhiSortBy="startDate">
            <span jhiTranslate="projectManagementApp.milestone.startDate">Start Date</span>
            <mat-icon class="sort-icon">unfold_more</mat-icon>
          </th>
          <td mat-cell *matCellDef="let milestone">{{ milestone.startDate | formatMediumDate }}</td>
        </ng-container>

        <ng-container matColumnDef="dueDate">
          <th mat-header-cell *matHeaderCellDef jhiSortBy="dueDate">
            <span jhiTranslate="projectManagementApp.milestone.dueDate">Due Date</span>
            <mat-icon class="sort-icon">unfold_more</mat-icon>
          </th>
          <td mat-cell *matCellDef="let milestone">{{ milestone.dueDate | formatMediumDate }}</td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef jhiSortBy="status">
            <span jhiTranslate="projectManagementApp.milestone.status">Status</span>
            <mat-icon class="sort-icon">unfold_more</mat-icon>
          </th>
          <td mat-cell *matCellDef="let milestone">
            <span class="status-chip" [class]="'status-' + (milestone.status ?? 'null')">
              {{ statusLabel(milestone.status) }}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="project">
          <th mat-header-cell *matHeaderCellDef jhiSortBy="project.name">
            <span jhiTranslate="projectManagementApp.milestone.project">Project</span>
            <mat-icon class="sort-icon">unfold_more</mat-icon>
          </th>
          <td mat-cell *matCellDef="let milestone">
            @if (milestone.project) {
              <a [routerLink]="['/project', milestone.project.id, 'view']">{{ milestone.project.name }}</a>
            }
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let milestone" class="text-end actions-cell">
            <a
              mat-icon-button
              color="primary"
              [routerLink]="['/milestone', milestone.id, 'view']"
              data-cy="entityDetailsButton"
              matTooltip="View"
            >
              <mat-icon>visibility</mat-icon>
            </a>
            <a
              mat-icon-button
              color="accent"
              [routerLink]="['/milestone', milestone.id, 'edit']"
              data-cy="entityEditButton"
              matTooltip="Edit"
            >
              <mat-icon>edit</mat-icon>
            </a>
            <button mat-icon-button color="warn" (click)="delete(milestone)" data-cy="entityDeleteButton" matTooltip="Delete">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns" data-cy="entityTable"></tr>
      </table>
    </div>
  }

  @if (milestones().length > 0) {
    <mat-paginator
      class="milestone-paginator"
      [length]="totalItems"
      [pageSize]="itemsPerPage"
      [pageIndex]="page - 1"
      [hidePageSize]="true"
      [showFirstLastButtons]="true"
      (page)="onPageChange($event)"
    ></mat-paginator>
  }
</div>
