<div>
  <h2 id="page-heading" data-cy="AttachmentHeading">
    <span jhiTranslate="projectManagementApp.attachment.home.title">Attachments</span>

    <div class="d-flex justify-content-end">
      <button mat-stroked-button color="primary" class="me-2" (click)="load()" [disabled]="isLoading">
        <mat-icon [class.spin]="isLoading">refresh</mat-icon>
        <span jhiTranslate="projectManagementApp.attachment.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        mat-flat-button
        color="primary"
        class="jh-create-entity create-attachment"
        [routerLink]="['/attachment/new']"
      >
        <mat-icon>add</mat-icon>
        <span jhiTranslate="projectManagementApp.attachment.home.createLabel">Create a new Attachment</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (attachments().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="projectManagementApp.attachment.home.notFound">No Attachments found</span>
    </div>
  } @else {
    <div class="mat-elevation-z1 attachment-table-container">
      <table
        mat-table
        [dataSource]="attachments()"
        jhiSort
        [(sortState)]="sortState"
        (sortChange)="navigateToWithComponentValues($event)"
        class="attachment-mat-table"
      >
        <ng-container matColumnDef="fileName">
          <th mat-header-cell *matHeaderCellDef jhiSortBy="fileName">
            <span jhiTranslate="projectManagementApp.attachment.fileName">File Name</span>
            <mat-icon class="sort-icon">unfold_more</mat-icon>
          </th>
          <td mat-cell *matCellDef="let attachment">{{ attachment.fileName }}</td>
        </ng-container>

        <ng-container matColumnDef="fileUrl">
          <th mat-header-cell *matHeaderCellDef jhiSortBy="fileUrl">
            <span jhiTranslate="projectManagementApp.attachment.fileUrl">File Url</span>
            <mat-icon class="sort-icon">unfold_more</mat-icon>
          </th>
          <td mat-cell *matCellDef="let attachment" class="url-cell">{{ attachment.fileUrl }}</td>
        </ng-container>

        <ng-container matColumnDef="fileType">
          <th mat-header-cell *matHeaderCellDef jhiSortBy="fileType">
            <span jhiTranslate="projectManagementApp.attachment.fileType">File Type</span>
            <mat-icon class="sort-icon">unfold_more</mat-icon>
          </th>
          <td mat-cell *matCellDef="let attachment">{{ attachment.fileType }}</td>
        </ng-container>

        <ng-container matColumnDef="fileSize">
          <th mat-header-cell *matHeaderCellDef jhiSortBy="fileSize">
            <span jhiTranslate="projectManagementApp.attachment.fileSize">File Size</span>
            <mat-icon class="sort-icon">unfold_more</mat-icon>
          </th>
          <td mat-cell *matCellDef="let attachment">{{ attachment.fileSize }}</td>
        </ng-container>

        <ng-container matColumnDef="uploadedDate">
          <th mat-header-cell *matHeaderCellDef jhiSortBy="uploadedDate">
            <span jhiTranslate="projectManagementApp.attachment.uploadedDate">Uploaded Date</span>
            <mat-icon class="sort-icon">unfold_more</mat-icon>
          </th>
          <td mat-cell *matCellDef="let attachment">{{ attachment.uploadedDate | formatMediumDatetime }}</td>
        </ng-container>

        <ng-container matColumnDef="task">
          <th mat-header-cell *matHeaderCellDef jhiSortBy="task.title">
            <span jhiTranslate="projectManagementApp.attachment.task">Task</span>
            <mat-icon class="sort-icon">unfold_more</mat-icon>
          </th>
          <td mat-cell *matCellDef="let attachment">
            @if (attachment.task) {
              <a [routerLink]="['/task', attachment.task.id, 'view']">{{ attachment.task.title }}</a>
            }
          </td>
        </ng-container>

        <ng-container matColumnDef="employee">
          <th mat-header-cell *matHeaderCellDef jhiSortBy="employee.firstName">
            <span jhiTranslate="projectManagementApp.attachment.employee">Employee</span>
            <mat-icon class="sort-icon">unfold_more</mat-icon>
          </th>
          <td mat-cell *matCellDef="let attachment">
            @if (attachment.employee) {
              <a [routerLink]="['/employee', attachment.employee.id, 'view']"
                >{{ attachment.employee.firstName }}&nbsp;{{ attachment.employee.lastName }}</a
              >
            }
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let attachment" class="text-end actions-cell">
            <a
              mat-icon-button
              color="primary"
              [routerLink]="['/attachment', attachment.id, 'view']"
              data-cy="entityDetailsButton"
              matTooltip="View"
            >
              <mat-icon>visibility</mat-icon>
            </a>
            <a
              mat-icon-button
              color="accent"
              [routerLink]="['/attachment', attachment.id, 'edit']"
              data-cy="entityEditButton"
              matTooltip="Edit"
            >
              <mat-icon>edit</mat-icon>
            </a>
            <button mat-icon-button color="warn" (click)="delete(attachment)" data-cy="entityDeleteButton" matTooltip="Delete">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns" data-cy="entityTable"></tr>
      </table>
    </div>
  }

  @if (attachments().length > 0) {
    <mat-paginator
      class="attachment-paginator"
      [length]="totalItems"
      [pageSize]="itemsPerPage"
      [pageIndex]="page - 1"
      [hidePageSize]="true"
      [showFirstLastButtons]="true"
      (page)="onPageChange($event)"
    ></mat-paginator>
  }
</div>
