@if (user) {
  <form name="deleteForm" (ngSubmit)="confirmDelete(user.login!)">
    <div class="modal-header">
      <h4 class="modal-title" jhiTranslate="entity.delete.title">Confirm delete operation</h4>
    </div>

    <div class="modal-body">
      <jhi-alert-error />

      @if (!checkingEmployeeLink && !hasLinkedEmployee) {
        <p jhiTranslate="userManagement.delete.question" [translateValues]="{ login: user.login }">
          Are you sure you want to delete user {{ user.login }}?
        </p>
      }

      @if (checkingEmployeeLink) {
        <p class="text-muted mb-0">
          <fa-icon icon="spinner" class="fa-spin"></fa-icon>&nbsp;
          <span jhiTranslate="userManagement.delete.checkingEmployee">Checking related employees...</span>
        </p>
      } @else if (hasLinkedEmployee) {
        <div class="alert alert-danger mb-0" role="alert">
          <span>This user has an assigned employee record. Delete that employee first.</span>
        </div>
      }
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
      </button>

      @if (!checkingEmployeeLink && !hasLinkedEmployee) {
        <button type="submit" class="btn btn-danger">
          <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Delete</span>
        </button>
      }
    </div>
  </form>
}
