<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-checklist-heading"
        data-cy="ChecklistCreateUpdateHeading"
        jhiTranslate="projectManagementApp.checklist.home.createOrEditLabel"
      >
        Create or edit a Checklist
      </h2>

      <br />

      <div>
        <jhi-alert-error />

        <!-- Title Field -->
        @let titleRef = editForm.get('title')!;
        <mat-form-field appearance="outline" class="w-100 mb-2">
          <mat-label jhiTranslate="projectManagementApp.checklist.title">Title</mat-label>
          <input matInput type="text" name="title" id="field_title" data-cy="title" formControlName="title" />
          @if (titleRef.invalid && (titleRef.touched || titleRef.dirty) && titleRef.errors?.required) {
            <ng-container>
              <mat-error jhiTranslate="entity.validation.required">This field is required.</mat-error>
            </ng-container>
          }
        </mat-form-field>

        <!-- Created Date Field -->
        @let createdDateRef = editForm.get('createdDate')!;
        <mat-form-field appearance="outline" class="w-100 mb-2">
          <mat-label jhiTranslate="projectManagementApp.checklist.createdDate">Created Date</mat-label>
          <input
            matInput
            type="datetime-local"
            name="createdDate"
            id="field_createdDate"
            data-cy="createdDate"
            formControlName="createdDate"
            placeholder="YYYY-MM-DD HH:mm"
          />
          @if (createdDateRef.invalid && (createdDateRef.touched || createdDateRef.dirty) && createdDateRef.errors?.required) {
            <ng-container>
              <mat-error jhiTranslate="entity.validation.required">This field is required.</mat-error>
            </ng-container>
          }
          @if (createdDateRef.invalid && (createdDateRef.touched || createdDateRef.dirty) && createdDateRef.errors?.datetimelocal) {
            <ng-container>
              <mat-error jhiTranslate="entity.validation.datetimelocal">This field should be a date and time.</mat-error>
            </ng-container>
          }
        </mat-form-field>

        <!-- Task Field -->
        @let taskRef = editForm.get('task')!;
        <mat-form-field appearance="outline" class="w-100 mb-2">
          <mat-label jhiTranslate="projectManagementApp.checklist.task">Task</mat-label>
          <mat-select id="field_task" data-cy="task" name="task" formControlName="task" [compareWith]="compareTask">
            <mat-option [value]="null"></mat-option>
            @for (taskOption of tasksSharedCollection; track $index) {
              <mat-option [value]="taskOption">{{ taskOption.title }}</mat-option>
            }
          </mat-select>
          @if (taskRef.invalid && (taskRef.touched || taskRef.dirty) && taskRef.errors?.required) {
            <ng-container>
              <mat-error jhiTranslate="entity.validation.required">This field is required.</mat-error>
            </ng-container>
          }
        </mat-form-field>
      </div>

      <!-- Action Buttons -->
      <div class="d-flex gap-2">
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" mat-stroked-button (click)="previousState()">
          <mat-icon>block</mat-icon>
          <span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          mat-flat-button
          color="primary"
        >
          <mat-icon>save</mat-icon>
          <span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
